# --- Środowisko wirtualne (NAJWAŻNIEJSZE) ---
.venv/
venv/
ENV/
Mao/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# --- Pliki Windowsa ---
Thumbs.db
desktop.ini

.idea/
*.swp-
*.iml
*.iws
*.ipr
out/
gen/
ssl-data-curation/
.vscode/
*.code-workspace
imagenette2-320/
imagenette.tgz
